{
  "swagger": "2.0",
  "info": {
    "description": "CallFire",
    "version": "V2",
    "title": "CallFire API Documentation",
    "termsOfService": "https://www.callfire.com/legal/terms",
    "contact": {
      "name": "CallFire",
      "url": "https://www.callfire.com",
      "email": "support@callfire.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "www.callfire.com",
  "basePath": "/v2",
  "tags": [
    {
      "name": "calls"
    },
    {
      "name": "campaigns"
    },
    {
      "name": "contacts"
    },
    {
      "name": "keywords"
    },
    {
      "name": "me"
    },
    {
      "name": "media"
    },
    {
      "name": "numbers"
    },
    {
      "name": "orders"
    },
    {
      "name": "texts"
    },
    {
      "name": "webhooks"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/calls": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Find calls",
        "description": "Finds all calls sent or received by the user. Use \"id=0\" for the campaignId parameter to query for all calls sent through the POST /calls API. See [call states and results](https://developers.callfire.com/results-responses-errors.html)",
        "operationId": "findCalls",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Comma seperated list of call ids to query for.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Query for calls inside of a particular campaign.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "batchId",
            "in": "query",
            "description": "~",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fromNumber",
            "in": "query",
            "description": "E.164 number that calls are from",
            "required": false,
            "type": "string"
          },
          {
            "name": "toNumber",
            "in": "query",
            "description": "E.164 number that calls are to",
            "required": false,
            "type": "string"
          },
          {
            "name": "label",
            "in": "query",
            "description": "Label for a specific call",
            "required": false,
            "type": "string"
          },
          {
            "name": "states",
            "in": "query",
            "description": "Expected call statuses in comma seperated string (READY, SELECTED, CALLBACK, FINISHED, DISABLED, DNC, DUP, INVALID, TIMEOUT, PERIOD_LIMIT)",
            "required": false,
            "type": "string"
          },
          {
            "name": "results",
            "in": "query",
            "description": "Expected call results in comma seperated string (SENT, RECEIVED, DNT, TOO_BIG, INTERNAL_ERROR, CARRIER_ERROR, CARRIER_TEMP_ERROR, UNDIALED)",
            "required": false,
            "type": "string"
          },
          {
            "name": "inbound",
            "in": "query",
            "description": "Is the call inbound, false for outbound",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "intervalBegin",
            "in": "query",
            "description": "Start of the find interval in Unix time milliseconds",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "intervalEnd",
            "in": "query",
            "description": "End of the find interval in Unix time milliseconds",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls?limit=2\"",
        "x-response": "{\"items\":[{\"id\":13395,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"FINISHED\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443373386000,\"modified\":1443373412000,\"finalCallResult\":\"AM\",\"records\":[{\"id\":10306,\"billedAmount\":1.1667,\"finishTime\":1443373425000,\"callResult\":\"AM\"}],\"agentCall\":false},{\"id\":13394,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"FINISHED\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443373382000,\"modified\":1443373412000,\"finalCallResult\":\"CARRIER_ERROR\",\"records\":[{\"id\":10305,\"billedAmount\":0.0,\"finishTime\":1443373408000,\"callResult\":\"CARRIER_ERROR\"}],\"agentCall\":false}],\"limit\":2,\"offset\":0,\"totalCount\":7160}"
      },
      "post": {
        "tags": [
          "calls"
        ],
        "summary": "Send calls",
        "description": "Use the /calls API to quickly send individual calls. A verified Caller ID and sufficient credits are required to make a call.",
        "operationId": "sendCalls",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Specify a campaignId to send calls quickly on a previously created campaign",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Array of CallRecipient objects",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CallRecipient"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallList"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST -d '[{\"phoneNumber\":\"12135551100\",\"liveMessage\":\"Why hello there!\"},{\"phoneNumber\":\"12135551101\",\"liveMessage\":\"And hello to you too.\"}]' \"https://api.callfire.com/v2/calls\"",
        "x-response": "{\"items\":[{\"id\":13394,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"READY\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443373382000,\"modified\":1443373382000,\"agentCall\":false},{\"id\":13395,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"READY\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443373386000,\"modified\":1443373386000,\"agentCall\":false}]}"
      }
    },
    "/calls/broadcasts": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Find call broadcasts",
        "description": "Find all voice broadcasts created by the user. Can query on label, name, and the current running status of the campaign. Returns a paged list of voice broadcasts.",
        "operationId": "findCallBroadcasts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "label",
            "in": "query",
            "description": "Label of voice broadcast",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of voice broadcast",
            "required": false,
            "type": "string"
          },
          {
            "name": "running",
            "in": "query",
            "description": "Specify if the campaigns should be running or not",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallBroadcastPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/broadcasts?name=Example+API+Call+Broadcast\"",
        "x-response": "{\"items\":[{\"id\":14,\"name\":\"Example API VB\",\"status\":\"STOPPED\",\"lastModified\":1443382636000,\"fromNumber\":\"12135551189\",\"localTimeRestriction\":{\"enabled\":false},\"retryConfig\":{\"maxAttempts\":1,\"minutesBetweenAttempts\":60,\"retryPhoneTypes\":[\"FIRST_NUMBER\"]},\"answeringMachineConfig\":\"AM_AND_LIVE\",\"liveSoundText\":\"Hello! This is a live answer text to speech recording\",\"liveSoundId\":64,\"machineSoundText\":\"This is an answering machine text to speech recording\",\"machineSoundId\":65}],\"totalCount\":1}"
      },
      "post": {
        "tags": [
          "calls"
        ],
        "summary": "Create a call broadcast",
        "description": "Create a voice broadcast campaign using the Voice Broadcast API. Send a CallBroadcast in the message body to detail a voice broadcast campaign. A campaign can be created with no contacts and bare minimum configuration, but contacts will have to be added further on to use the campaign.",
        "operationId": "createCallBroadcast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Specify whether to immediately start this campaign (not required)",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "description": "callBroadcast",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CallBroadcast"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResourceId"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"Example API Call Broadcast\",\"fromNumber\":\"12135551189\",\"recipients\":[{\"phoneNumber\":\"2135551133\"}],\"answeringMachineConfig\":\"AM_AND_LIVE\",\"liveSoundText\":\"Hello! This is a live answer text to speech recording\",\"machineSoundText\":\"This is an answering machine text to speech recording\"}' \"https://api.callfire.com/v2/calls/broadcasts\"",
        "x-response": "{\"id\":15}"
      }
    },
    "/calls/broadcasts/{id}": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Find a specific call broadcast",
        "description": "Returns a single CallBroadcast instance for a given call broadcast campaign id",
        "operationId": "getCallBroadcast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of CallBroadcast",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallBroadcast"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/broadcasts/15\"",
        "x-response": "{\"id\":14,\"name\":\"Example API VB\",\"status\":\"STOPPED\",\"lastModified\":1443382636000,\"fromNumber\":\"12135551189\",\"localTimeRestriction\":{\"enabled\":false},\"retryConfig\":{\"maxAttempts\":1,\"minutesBetweenAttempts\":60,\"retryPhoneTypes\":[\"FIRST_NUMBER\"]},\"answeringMachineConfig\":\"AM_AND_LIVE\",\"liveSoundText\":\"Hello! This is a live answer text to speech recording\",\"liveSoundId\":64,\"machineSoundText\":\"This is an answering machine text to speech recording\",\"machineSoundId\":65}"
      },
      "put": {
        "tags": [
          "calls"
        ],
        "summary": "Update a call broadcast",
        "description": "After having created a voice broadcast campaign, this PUT lets the user modify the configuration of a voice broadcast campaign. See CallBroadcast for more information on what can/can't be updated on this API.",
        "operationId": "updateCallBroadcast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the voice broadcast",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "callBroadcast",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CallBroadcast"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"name\":\"Example API Call Broadcast updated\",\"answeringMachineConfig\":\"LIVE_IMMEDIATE\",\"liveSoundText\":\"Hello! This is an updated Call Broadcast config tts\"}' \"https://api.callfire.com/v2/calls/broadcasts/15\"",
        "x-response": "200 OK - No Response"
      }
    },
    "/calls/broadcasts/{id}/archive": {
      "post": {
        "tags": [
          "calls"
        ],
        "summary": "Archive voice broadcast",
        "description": "Archive a voice broadcast",
        "operationId": "archiveVoiceBroadcast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of voice broadcast to archive",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/archive\"",
        "x-response": "200 OK - No Response"
      }
    },
    "/calls/broadcasts/{id}/batches": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Find batches in a call broadcast",
        "description": "This endpoint will enable the user to page through all of the batches for a particular voice broadcast campaign.",
        "operationId": "getCallBroadcastBatches",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the voice broadcast",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BatchPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/broadcasts/15/batches\"",
        "x-response": "{\"items\":[{\"id\":12,\"name\":\"API 14\",\"status\":\"ACTIVE\",\"broadcastId\":14,\"created\":1443382635000,\"size\":1,\"remaining\":1,\"enabled\":true},{\"id\":13,\"name\":\"batch name\",\"status\":\"ACTIVE\",\"broadcastId\":14,\"created\":1443383158000,\"size\":2,\"remaining\":2,\"enabled\":true}],\"limit\":100,\"offset\":0}"
      },
      "post": {
        "tags": [
          "calls"
        ],
        "summary": "Add batches to a call broadcast",
        "description": "The add batch API allows the user to add additional batches to an already created voice broadcast campaign. The added batch will go through the CallFire validation process, unlike in the recipients version of this API. Because of this, use the scrubDuplicates flag to remove duplicates from your batch. Batches may be added as a contact list id, a list of contact ids, or a list of numbers.",
        "operationId": "addCallBroadcastBatch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the voice broadcast",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResourceId"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"batch name\",\"recipients\":[{\"phoneNumber\":\"12135551100\"},{\"phoneNumber\":\"12135551101\"}]}' \"https://api.callfire.com/v2/calls/broadcasts/15/batches\"",
        "x-response": "{\"id\":13}"
      }
    },
    "/calls/broadcasts/{id}/calls": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Find calls in a call broadcast",
        "description": "This endpoint will enable the user to page through all of the calls for a particular voice broadcast campaign.",
        "operationId": "getCallBroadcastCalls",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the voice broadcast",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/broadcasts/15/calls\"",
        "x-response": "{\"items\":[{\"id\":13408,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":13,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443383158000,\"modified\":1443383158000,\"agentCall\":false},{\"id\":13407,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":13,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443383158000,\"modified\":1443383158000,\"agentCall\":false},{\"id\":13406,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551133\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":12,\"contact\":{\"id\":4102,\"homePhone\":\"2135551133\"},\"inbound\":false,\"created\":1443382636000,\"modified\":1443382636000,\"agentCall\":false}],\"limit\":100,\"offset\":0,\"totalCount\":3}"
      }
    },
    "/calls/broadcasts/{id}/recipients": {
      "post": {
        "tags": [
          "calls"
        ],
        "summary": "Add recipients to a call broadcast",
        "description": "Use this API to add recipients to an already created voice broadcast. Post a list of Recipient objects for them to be immediately added to the voice broadcast campaign. These contacts do not go through validation process, and will be acted upon as they are added. Recipients may be added as a list of contact ids, or list of numbers.",
        "operationId": "addCallBroadcastRecipients",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the voice broadcast to update",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "recipients",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Recipient"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallList"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST -d '[{\"phoneNumber\":\"12135551100\"},{\"phoneNumber\":\"12135551101\"}]' \"https://api.callfire.com/v2/calls/broadcasts/15/recipients\"",
        "x-response": "{\"items\":[{\"id\":13410,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551100\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":12,\"contact\":{\"id\":4096,\"homePhone\":\"12135551100\"},\"inbound\":false,\"created\":1443383295000,\"modified\":1443383295000,\"agentCall\":false},{\"id\":13411,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"READY\",\"campaignId\":14,\"batchId\":12,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443383295000,\"modified\":1443383295000,\"agentCall\":false}]}"
      }
    },
    "/calls/broadcasts/{id}/start": {
      "post": {
        "tags": [
          "calls"
        ],
        "summary": "Start voice broadcast",
        "description": "Start a voice broadcast",
        "operationId": "startVoiceBroadcast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of voice broadcast to start",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/start\"",
        "x-response": "200 OK - No Response"
      }
    },
    "/calls/broadcasts/{id}/stats": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Get statistics on call broadcast",
        "description": "Returns statistics on CallBroadcast instance for given call broadcast campaign id",
        "operationId": "getCallBroadcastStats",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "~",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "begin",
            "in": "query",
            "description": "~",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "end",
            "in": "query",
            "description": "~",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallBroadcastStats"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/broadcasts/15/stats\"",
        "x-response": "{\"totalOutboundCount\":2,\"remainingOutboundCount\":0,\"billedAmount\":1.6667,\"callsAttempted\":1,\"callsPlaced\":1,\"callsDuration\":1,\"billedDuration\":60,\"responseRatePercent\":100,\"callsRemaining\":1,\"callsAwaitingRedial\":0,\"callsLiveAnswer\":1,\"totalCount\":2,\"answeringMachineCount\":0,\"busyCount\":0,\"dialedCount\":1,\"doNotCallCount\":1,\"errorCount\":0,\"liveCount\":1,\"miscCount\":0,\"noAnswerCount\":0,\"transferCount\":0}"
      }
    },
    "/calls/broadcasts/{id}/stop": {
      "post": {
        "tags": [
          "calls"
        ],
        "summary": "Stop voice broadcast",
        "description": "Stop a voice broadcast",
        "operationId": "stopVoiceBroadcast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of voice broadcast to stop",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST \"https://api.callfire.com/v2/campaigns/voice-broadcasts/14/stop\"",
        "x-response": "200 OK - No Response"
      }
    },
    "/calls/recordings/{id}": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Get call recording by id",
        "description": "Returns call recording",
        "operationId": "getCallRecording",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "~",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallRecording"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/recordings/101\"",
        "x-response": "{\"id\":2033,\"callId\":101,\"campaignId\":15,\"name\":\"hello\",\"created\":1443382635000,\"lengthInBytes\":12345,\"lengthInSeconds\":9,\"hash\":\"\",\"mp3Url\":\"https://api.callfire.com/calls/recordings/2033\",\"state\":\"READY\"}"
      }
    },
    "/calls/recordings/{id}.mp3": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Get call recording in mp3 format",
        "description": "Returns call recording",
        "operationId": "getCallRecordingMp3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "~",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/recordings/101.mp3\"",
        "x-response": "200 OK - InputStream"
      }
    },
    "/calls/{id}": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Find a specific call",
        "description": "Returns a single Call instance for a given call id.",
        "operationId": "getCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of call",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Call"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/13393\"",
        "x-response": "{\"id\":13393,\"fromNumber\":\"12135551189\",\"toNumber\":\"12135551101\",\"state\":\"FINISHED\",\"campaignId\":10,\"batchId\":6,\"contact\":{\"id\":4097,\"homePhone\":\"12135551101\"},\"inbound\":false,\"created\":1443333911000,\"modified\":1443333978000,\"finalCallResult\":\"LA\",\"records\":[{\"id\":10304,\"billedAmount\":1.1667,\"finishTime\":1443333972000,\"callResult\":\"LA\"}],\"agentCall\":false}"
      }
    },
    "/calls/{id}/recordings": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Get call recordings for a call",
        "description": "Returns call recordings",
        "operationId": "getCallRecordings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "~",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallRecordingList"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/15/recordings\"",
        "x-response": "{\"items\":[{\"id\":2033,\"callId\":101,\"campaignId\":15,\"name\":\"hello\",\"created\":1443382635000,\"lengthInBytes\":12345,\"lengthInSeconds\":9,\"hash\":\"\",\"mp3Url\":\"https://api.callfire.com/calls/recordings/2033\",\"state\":\"READY\"}]}"
      }
    },
    "/calls/{id}/recordings/{name}": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Get call recording by name",
        "description": "Returns call recording",
        "operationId": "getCallRecordingByName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "~",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "in": "path",
            "description": "~",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CallRecording"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/15/recordings/hello\"",
        "x-response": "{\"id\":2033,\"callId\":101,\"campaignId\":15,\"name\":\"hello\",\"created\":1443382635000,\"lengthInBytes\":12345,\"lengthInSeconds\":9,\"hash\":\"\",\"mp3Url\":\"https://api.callfire.com/calls/recordings/2033\",\"state\":\"READY\"}"
      }
    },
    "/calls/{id}/recordings/{name}.mp3": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Get call mp3 recording by name",
        "description": "Returns call recording",
        "operationId": "getCallRecordingMp3ByName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "audio/mpeg"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "~",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "in": "path",
            "description": "~",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/calls/15/recordings/hello.mp3\"",
        "x-response": "200 OK - InputStream"
      }
    },
    "/campaigns/batches/{id}": {
      "get": {
        "tags": [
          "campaigns"
        ],
        "summary": "Find a specific batch",
        "description": "Returns a single Batch instance for a given batch id. This API is useful for determining the state of a validating batch.",
        "operationId": "getCampaignBatch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of batch",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Batch"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password \"https://api.callfire.com/v2/campaigns/batches/1\"",
        "x-response": "{\"id\":1,\"name\":\"CF2 Campaign Sample\",\"status\":\"ACTIVE\",\"broadcastId\":1,\"created\":1297474980000,\"size\":6198,\"remaining\":0,\"enabled\":true}"
      },
      "put": {
        "tags": [
          "campaigns"
        ],
        "summary": "Update a batch",
        "description": "Update to a single Batch instance. May only change enabled at this time.",
        "operationId": "updateCampaignBatch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of batch to update",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "batch",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Batch"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"enabled\":\"false\"}' \"https://api.callfire.com/v2/campaigns/batches/1\"",
        "x-response": "200 OK - No Response"
      }
    },
    "/campaigns/sounds": {
      "get": {
        "tags": [
          "campaigns"
        ],
        "summary": "Find sounds",
        "description": "Find all campaign sounds that were created by the user. These are all of the available sounds to be used in campaigns.",
        "operationId": "findCampaignSounds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Name of file to search on",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CampaignSoundPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/sounds\"",
        "x-response": "{\"items\":[{\"id\":60,\"name\":\"TTS: And hello to you too.\",\"created\":1443333911000,\"lengthInSeconds\":1,\"status\":\"ACTIVE\"},{\"id\":59,\"name\":\"TTS: Why hello there!\",\"created\":1443333905000,\"lengthInSeconds\":1,\"status\":\"ACTIVE\"}],\"limit\":100,\"offset\":0,\"totalCount\":8}"
      }
    },
    "/campaigns/sounds/calls": {
      "post": {
        "tags": [
          "campaigns"
        ],
        "summary": "Add sound via call",
        "description": "Use this API to create a sound via phone call. Supply the required phone number in the CallCreateSound object inside of the request, and the user will receive a call shortly after with instructions on how to record a sound over the phone.",
        "operationId": "postCallCampaignSound",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "callCreateSound",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CallCreateSound"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResourceId"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"My sound file\", \"toNumber\":\"12135551122\"}' \"https://api.callfire.com/v2/campaigns/sounds/calls\"",
        "x-response": "{\"id\":61}"
      }
    },
    "/campaigns/sounds/tts": {
      "post": {
        "tags": [
          "campaigns"
        ],
        "summary": "Add sound via text-to-speech",
        "description": "Use this API to create a sound file via a supplied string of text. Send the required text in the TextToSpeech.message field, and pick a voice in the TextToSpeech.voice field. Available voices are: MALE1, FEMALE1 , FEMALE2, SPANISH1, FRENCHCANADIAN1",
        "operationId": "postTTSCampaignSound",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "textToSpeech",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TextToSpeech"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResourceId"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X POST -d '{\"voice\":\"MALE1\", \"message\":\"This is a TTS sound\"}' \"https://api.callfire.com/v2/campaigns/sounds/tts\"",
        "x-response": "{\"id\":62}"
      }
    },
    "/campaigns/sounds/{id}": {
      "get": {
        "tags": [
          "campaigns"
        ],
        "summary": "Find a specific sound",
        "description": "Returns a single CampaignSound instance for a given campaign sound id. This is the meta data to the sounds only. No audio data is returned from this API.",
        "operationId": "getCampaignSound",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of CampaignSound",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CampaignSound"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/sounds/61\"",
        "x-response": "{\"id\":61,\"name\":\"My sound file\",\"created\":1443378307000,\"lengthInSeconds\":3,\"status\":\"ACTIVE\"}"
      }
    },
    "/campaigns/sounds/{id}.mp3": {
      "get": {
        "tags": [
          "campaigns"
        ],
        "summary": "Download a MP3 sound",
        "description": "Download the MP3 version of the hosted file. This is an audio data endpoint.",
        "operationId": "getCampaignSoundDataMp3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "audio/mpeg"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of CampaignSound",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/sounds/61.mp3\"",
        "x-response": "mp3 file"
      }
    },
    "/campaigns/sounds/{id}.wav": {
      "get": {
        "tags": [
          "campaigns"
        ],
        "summary": "Download a WAV sound",
        "description": "Download the WAV version of the hosted file. This is an audio data endpoint.",
        "operationId": "getCampaignSoundDataWav",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "audio/wav"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of CampaignSound",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/campaigns/sounds/61.wav\"",
        "x-response": "wav file"
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Find contacts",
        "description": "Find contacts by id, contact list, or on any property name. Returns a paged list of contacts.",
        "operationId": "findContacts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Multiple contact ids can be specified. If the id parameter is included, the other query parameters are ignored.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "number",
            "in": "query",
            "description": "Multiple contact numbers can be specified. If the number parameter is included, the other query parameters are ignored.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "contactListId",
            "in": "query",
            "description": "A particular contact list to search by",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "propertyName",
            "in": "query",
            "description": "Name of contact property to search by",
            "required": false,
            "type": "string"
          },
          {
            "name": "propertyValue",
            "in": "query",
            "description": "Value of contact property to search by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContactPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts?id=4103\"",
        "x-response": "{\"items\":[{\"id\":4103,\"firstName\":\"Test\",\"lastName\":\"Contact\",\"homePhone\":\"12135551124\"}],\"limit\":1,\"offset\":0,\"totalCount\":1}"
      },
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "Create contacts",
        "description": "Create contacts in the CallFire system. These contacts are not validated on creation. They will be validated upon being added to a campaign.",
        "operationId": "createContacts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "contacts",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Contact"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResourceIdList"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST -d '[{\"firstName\":\"Test\",\"lastName\":\"Contact\",\"homePhone\":\"12135551124\"}]' \"https://api.callfire.com/v2/contacts\"",
        "x-response": "{\"items\":[{\"id\":4103}]}"
      }
    },
    "/contacts/dncs": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Find DNCs",
        "description": "Find all Do Not Contact (DNC) objects created by the user. These DoNotContact entries only affect calls/texts/campaigns on this account. Returns a paged list of DoNotContact.",
        "operationId": "findDncContacts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Prefix (1-10 digits) of numbers",
            "required": false,
            "type": "string"
          },
          {
            "name": "dncListId",
            "in": "query",
            "description": "A DncList id to search for DNCs within",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "dncListName",
            "in": "query",
            "description": "A DncList name to search for DNCs within",
            "required": false,
            "type": "string"
          },
          {
            "name": "callDnc",
            "in": "query",
            "description": "Is it a Call DNC",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "textDnc",
            "in": "query",
            "description": "Is it a Text DNC",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DoNotContactPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/dncs\"",
        "x-response": "{\"items\":[{\"number\":\"12135551129\",\"call\":true,\"text\":true,\"listId\":2},{\"number\":\"12135551130\",\"call\":false,\"text\":true,\"listId\":2},{\"number\":\"12135551131\",\"call\":true,\"text\":true,\"listId\":2}],\"totalCount\":3}"
      },
      "put": {
        "tags": [
          "contacts"
        ],
        "summary": "Update a DNC",
        "description": "Update a Do Not Contact (DNC) contact value. Can toggle whether the DNC is enabled for calls/texts.",
        "operationId": "updateDncNumber",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "doNotContact",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DoNotContact"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"number\":\"12135551130\",\"call\":\"false\",\"text\":\"true\"}' \"https://api.callfire.com/v2/contacts/dncs\"",
        "x-response": "200 OK - No Response"
      }
    },
    "/contacts/lists": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Find contact lists",
        "description": "Find all contact lists for the CallFire Developer. Returns a paged list of contact lists.",
        "operationId": "findContactLists",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name or partial name of contact list",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContactListPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/lists\"",
        "x-response": "{\"items\":[{\"id\":3,\"name\":\"Created Contact List\",\"size\":1,\"created\":1443390407000,\"status\":\"ACTIVE\"}],\"totalCount\":1}"
      },
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "Create contact lists",
        "description": "Creates a contact list for use with campaigns using 1 of 3 inputs. A List of Contact objects, a list of String E.164 numbers, or a list of CallFire contactIds can be used as the data source for the created contact list. \nAfter staging these contacts into the CallFire system, contact lists go through seven system safeguards that check the accuracy and consistency of the data. For example, our system checks if a number is formatted correctly, is invalid, is duplicated in another contact list, or is on a specific DNC list. The default resolution in these safeguards will be to remove contacts that are against these rules. If contacts are not being added to a list, this means the data needs to be properly formatted and correct before calling this API.",
        "operationId": "createContactList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateContactListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResourceId"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"Created Contact List\",\"contacts\":[{\"firstName\":\"Carl\",\"lastName\":\"Friar\",\"homePhone\":\"12135551125\"}]}' \"https://api.callfire.com/v2/contacts/lists\"",
        "x-response": "{\"id\":3}"
      }
    },
    "/contacts/lists/upload": {
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "Create contact list from file",
        "description": "Create a contact list for use with campaigns through uploading a .csv file",
        "operationId": "createContactListFromFile",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ResourceId"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -X POST -F \"name=testing\" -F \"file=@small_contact_upload.csv\" \"https://api.callfire.com/v2/contacts/lists/upload\"",
        "x-response": "{\"id\":4}"
      }
    },
    "/contacts/lists/{id}": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Find a specific contact list",
        "description": "Returns a single ContactList instance for a given contact list id",
        "operationId": "getContactList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact list to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContactList"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/lists/3\"",
        "x-response": "{\"id\":3,\"name\":\"Created Contact List\",\"size\":1,\"created\":1443390407000,\"status\":\"ACTIVE\"}"
      },
      "put": {
        "tags": [
          "contacts"
        ],
        "summary": "Update a contact list",
        "description": "Update contact list. Currently, only the contact list name is modifiable from this endpoint.",
        "operationId": "updateContactList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact list to update",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdateContactListRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"name\":\"Created Contact List updated\"}' \"https://api.callfire.com/v2/contacts/lists/3\"",
        "x-response": "200 OK - No Response"
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "summary": "Delete a contact list",
        "description": "Deletes a contact list. The contacts inside are not deleted.",
        "operationId": "deleteContactList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact list to be deleted",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/contacts/lists/3\"",
        "x-response": "204 No Content"
      }
    },
    "/contacts/lists/{id}/items": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Find contacts in a contact list",
        "description": "Find all entries in a given contact list. Returns a paged list of Contact entries.",
        "operationId": "getContactListItems",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact list",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContactPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/lists/3/items\"",
        "x-response": "{\"items\":[{\"id\":4104,\"firstName\":\"Carl\",\"lastName\":\"Friar\",\"homePhone\":\"12135551125\"},{\"id\":4105,\"firstName\":\"Contact\",\"lastName\":\"One\",\"homePhone\":\"12135551126\"},{\"id\":4106,\"firstName\":\"Contact\",\"lastName\":\"Two\",\"homePhone\":\"12135551127\"}],\"totalCount\":3}"
      },
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "Add contacts to a contact list",
        "description": "Add contacts to a contact list by number, contact id, or Contact object.",
        "operationId": "addContactListItems",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact list",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AddContactListContactsRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X POST -d '{\"contacts\":[{\"firstName\":\"Contact\",\"lastName\":\"One\",\"homePhone\":\"12135551126\"},{\"firstName\":\"Contact\",\"lastName\":\"Two\",\"homePhone\":\"12135551127\"}]}' \"https://api.callfire.com/v2/contacts/lists/3/items\"",
        "x-response": "200 OK - No Response"
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "summary": "Delete contacts from a contact list",
        "description": "Delete contacts from a contact list. Multiple deletes in one request by repeating the \"id\" query parameter.",
        "operationId": "removeContactListItems",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Contact entity inside the CallFire system.",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "~",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/contacts/lists/3/items?contactId=4104\"",
        "x-response": "200 OK - No Response"
      }
    },
    "/contacts/lists/{id}/items/{contactId}": {
      "delete": {
        "tags": [
          "contacts"
        ],
        "summary": "Delete a contact from a contact list",
        "description": "Delete a single contact from a contact list.",
        "operationId": "removeContactListItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "~",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Id of contact",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/contacts/lists/3/items/4105\"",
        "x-response": "200 OK - No Response"
      }
    },
    "/contacts/{id}": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Find a specific contact",
        "description": "Returns a Contact object for a given contact id. Deleted contacts can still be retrieved but will be marked deleted and will not show up when searching for contacts.",
        "operationId": "getContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/4103\"",
        "x-response": "{\"id\":4103,\"firstName\":\"Test\",\"lastName\":\"Contact\",\"homePhone\":\"12135551124\",\"workPhone\":\"1213555115\"}"
      },
      "put": {
        "tags": [
          "contacts"
        ],
        "summary": "Update a contact",
        "description": "Update a contact.",
        "operationId": "updateContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "contact",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"workPhone\":\"1213555115\"}' \"https://api.callfire.com/v2/contacts/4103\"",
        "x-response": "200 OK - No Response"
      },
      "delete": {
        "tags": [
          "contacts"
        ],
        "summary": "Delete a contact",
        "description": "Delete a contact. This doesn't actually delete the contact, it just removes the contact from any contact lists and marks the contact as deleted so won't show up when searching for contacts.",
        "operationId": "deleteContact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/contacts/4103\"",
        "x-response": "204 No Content"
      }
    },
    "/contacts/{id}/history": {
      "get": {
        "tags": [
          "contacts"
        ],
        "summary": "Find a contact's history",
        "description": "Find all texts and calls attributed to a contact. Returns a list of calls and texts a contact has been involved with.",
        "operationId": "getContactHistory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ContactHistory"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/contacts/3089/history\"",
        "x-response": "{\"id\":3089,\"calls\":[{\"id\":12385,\"fromNumber\":\"12135551189\",\"toNumber\":\"18089552643\",\"state\":\"READY\",\"campaignId\":8,\"batchId\":5,\"contact\":{\"id\":3089,\"firstName\":\"Janet\",\"lastName\":\"Robertson\",\"workPhone\":\"18089552643\"},\"inbound\":false,\"created\":1443332871000,\"modified\":1443332871000,\"agentCall\":false},{\"id\":3089,\"fromNumber\":\"12135551189\",\"toNumber\":\"18089552643\",\"state\":\"FINISHED\",\"campaignId\":1,\"batchId\":1,\"contact\":{\"id\":3089,\"firstName\":\"Janet\",\"lastName\":\"Robertson\",\"workPhone\":\"18089552643\"},\"inbound\":false,\"created\":1443332868000,\"modified\":1443239245000,\"finalCallResult\":\"NO_ANS\",\"records\":[{\"id\":3089,\"billedAmount\":0.0,\"finishTime\":1443239245000,\"callResult\":\"NO_ANS\"}],\"agentCall\":false}],\"texts\":[{\"id\":6209,\"fromNumber\":\"12135551189\",\"toNumber\":\"18089552643\",\"state\":\"FINISHED\",\"campaignId\":3,\"batchId\":2,\"contact\":{\"id\":3089,\"firstName\":\"Janet\",\"lastName\":\"Robertson\",\"workPhone\":\"18089552643\"},\"inbound\":false,\"created\":1443239245000,\"modified\":1443239245000,\"message\":\"Outbound test text message\",\"finalTextResult\":\"SENT\",\"records\":[{\"id\":7215,\"billedAmount\":0.03,\"finishTime\":1443239245000,\"message\":\"CallFire Rocks!\",\"textResult\":\"SENT\"}]}]}"
      }
    },
    "/keywords": {
      "get": {
        "tags": [
          "keywords"
        ],
        "summary": "Find keywords",
        "description": "Find keywords for purchase on the CallFire platform. If a keyword appears in the response, it is available for purchase. Repeat the \"keyword\" query parameter for multiple searches in one request.",
        "operationId": "findKeywords",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keywords",
            "in": "query",
            "description": "Keyword to search for",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeywordList"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/keywords?keywords=TEST\"",
        "x-response": "{\"items\":[{\"shortCode\":\"67076\",\"keyword\":\"TEST\"}]}"
      }
    },
    "/keywords/leases": {
      "get": {
        "tags": [
          "keywords"
        ],
        "summary": "Find keyword leases",
        "description": "Find all owned keyword leases for a user. A keyword lease is the ownership information involving a keyword.",
        "operationId": "findKeywordLeases",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeywordLeasePage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/keywords/leases\"",
        "x-response": "{\"items\":[{\"shortCode\":\"67076\",\"keyword\":\"CALLFIRE\",\"leaseBegin\":1000000000000,\"leaseEnd\":1000000000000,\"autoRenew\":true,\"status\":\"ACTIVE\"}],\"limit\":100,\"offset\":0,\"totalCount\":1}"
      }
    },
    "/keywords/leases/{keyword}": {
      "get": {
        "tags": [
          "keywords"
        ],
        "summary": "Find a specific lease",
        "description": "Returns a KeywordLease for a given keyword.",
        "operationId": "getKeywordLease",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "description": "Keyword text that a lease is desired for",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/KeywordLease"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/keywords/leases/CALLFIRE\"",
        "x-response": "{\"shortCode\":\"67076\",\"keyword\":\"CALLFIRE\",\"leaseBegin\":1000000000000,\"leaseEnd\":1000000000000,\"autoRenew\":true,\"status\":\"ACTIVE\"}"
      },
      "put": {
        "tags": [
          "keywords"
        ],
        "summary": "Update a lease",
        "description": "Update a keyword lease. Can only set autoRenew to false at this time.",
        "operationId": "updateKeywordLease",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "description": "Keyword to update lease for",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "keywordLease",
            "required": false,
            "schema": {
              "$ref": "#/definitions/KeywordLease"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X PUT -d '{\"autoRenew\":\"false\"}' \"https://api.callfire.com/v2/keywords/leases/CALLFIRE\"",
        "x-response": "200 OK - No Response"
      }
    },
    "/keywords/{keyword}/available": {
      "get": {
        "tags": [
          "keywords"
        ],
        "summary": "Check for a specific keyword",
        "description": "Find an individual keyword for purchase on the CallFire platform. Returns boolean for availability.",
        "operationId": "isKeywordAvailable",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "description": "Keyword to search for",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/keywords/TEST/available\"",
        "x-response": "true"
      }
    },
    "/me/account": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Find account details",
        "description": "Find account details for the user. Details include name, email, and basic account permissions.",
        "operationId": "getAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u username:password -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/me/account\"",
        "x-response": "{\"id\":1,\"email\":\"test-account@callfire.com\",\"name\":\"Test Account\",\"firstName\":\"CallFire\",\"lastName\":\"Developer\",\"permissions\":[\"ACCOUNT_HOLDER\",\"API\"]}"
      }
    },
    "/me/api/credentials": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Find api credentials",
        "description": "Find all generated API credentials for the user. Returns a paged list of ApiCredential.",
        "operationId": "findApiCredentials",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return in a paged list response. The default is 100.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to the start of a given page. The default is 0.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiCredentialPage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/me/api/credentials\"",
        "x-response": "{\"items\":[{\"id\":11,\"name\":\"api_20_account\",\"username\":\"8a804bba69ba\",\"password\":\"****aa00\",\"enabled\":true}],\"totalCount\":1}"
      },
      "post": {
        "tags": [
          "me"
        ],
        "summary": "Create api credentials",
        "description": "Create API credentials for the CallFire API. This endpoint requires full CallFire account credentials to be used, authenticated using Basic Authentication. At this time, the user can only supply the name for the credentials. The generated credentials can be used to access any endpoint on the CallFire API.",
        "operationId": "createApiCredential",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "apiCredential",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApiCredential"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiCredential"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X POST -d '{\"name\":\"api_20_account\"}' \"https://api.callfire.com/v2/me/api/credentials\"",
        "x-response": "{\"id\":11,\"name\":\"api_20_account\",\"username\":\"8a804bba69ba\",\"password\":\"aaaa000aaa00aa00\",\"enabled\":true}"
      }
    },
    "/me/api/credentials/{id}": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Find a specific api credential",
        "description": "Returns an ApiCredential instance for a given api credential id",
        "operationId": "getApiCredential",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of api credential",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Limit fields returned. E.g. fields=id,name or fields=items(id,name)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiCredential"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/me/api/credentials/11\"",
        "x-response": "{\"id\":11,\"name\":\"api_20_account\",\"username\":\"8a804bba69ba\",\"password\":\"****aa00\",\"enabled\":true}"
      },
      "delete": {
        "tags": [
          "me"
        ],
        "summary": "Delete api credentials",
        "description": "Delete a specific API credential. Currently, removes the credentials ability to access the API.",
        "operationId": "deleteApiCredential",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of api credential",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X DELETE \"https://api.callfire.com/v2/me/api/credentials/11\"",
        "x-response": "204 No Content"
      }
    },
    "/me/billing/plan-usage": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Find plan usage",
        "description": "Find billing plan usage for the user. Returns billing plan usage for the current month.",
        "operationId": "getBillingPlanUsage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BillingPlanUsage"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-request-cURL": "curl -u \"username:password\" -H \"Content-Type:application/json\" -X GET \"https://api.callfire.com/v2/me/billing/plan-usage\"",
[...]
